[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
neo4j = "*"
email-validator = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
